form {
  display: flex;
  flex-direction: column;
}

.Input {
  font-size: 18px;
  margin-bottom: 20px;
}

.Msg-link {
  text-align: justify;
  font-size: 14px;
}

a {
  margin-left: 4px;
  color: var(--secondary);
}

.Img-form {
  height: 150px;
  width: 150px;
}

.Msg-alert {
  color: var(--alert);
}
