body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --white: #fff;
  --alert: #cd576b;
  --grayLight: #dfe0e0;
  --blackLight: #5a626a;
  --brown: #e1d4cd;
  --success: #61c554;
  --warning: #f4c04e;
  --secondary: #296da9;
}
